<a href="https://colab.research.google.com/github/shacktemp/Street_Soldier/blob/main/street_soldier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install Libraries

In [ ]:
# import libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
# read in two CSVs

claims = pd.read_csv('https://raw.githubusercontent.com/shacktemp/Street_Soldier/main/data2/FY_2020_Disability_Compensation_Recipients_by_County%20(2).csv')
homeless = pd.read_csv('https://raw.githubusercontent.com/shacktemp/Street_Soldier/main/data2/homeless_population_usafacts.csv')

#Clean data and Perform Panda Merge

-Review the data

-Get rid of columns and informaiton not needed

-Merge the dataframes

-Compare total homeless to VA benefits recipients for a given state

In [ ]:
#print head of both dataframes
claims.head(10)

,FIPS code,State,County Name,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older,Male,Female
0,NaN,Alabama,Unknown,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,Alabama,Autauga,2000.0,435.0,270.0,278.0,623.0,394.0,466.0,957.0,576.0,1687.0,313.0
2,1003.0,Alabama,Baldwin,5073.0,1524.0,774.0,772.0,1199.0,804.0,936.0,1553.0,2584.0,4648.0,425.0
3,1005.0,Alabama,Barbour,605.0,111.0,75.0,110.0,186.0,123.0,97.0,242.0,266.0,537.0,68.0
4,1007.0,Alabama,Bibb,278.0,61.0,47.0,38.0,81.0,51.0,56.0,95.0,127.0,252.0,26.0
5,1009.0,Alabama,Blount,771.0,201.0,122.0,119.0,205.0,124.0,159.0,217.0,395.0,724.0,47.0
6,1011.0,Alabama,Bullock,152.0,30.0,13.0,24.0,42.0,43.0,22.0,67.0,63.0,133.0,19.0
7,1013.0,Alabama,Butler,414.0,84.0,51.0,62.0,125.0,92.0,82.0,168.0,164.0,362.0,52.0
8,1015.0,Alabama,Calhoun,3228.0,794.0,516.0,476.0,852.0,590.0,540.0,1177.0,1511.0,2847.0,381.0
9,1017.0,Alabama,Chambers,663.0,122.0,80.0,103.0,205.0,153.0,127.0,201.0,335.0,601.0,62.0

In [ ]:
homeless.head(10)

,Years,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Homeless population (People),647258,639784,630227,637077,623788,621553,590364,576450.0,564708.0,549928.0,550996.0,552830.0,567715.0,580466.0,380630.0,582462.0
1,By living situation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheltered (People),391401,386361,403308,403543,392316,390155,394698,401051.0,391440.0,373571.0,360867.0,358363.0,356422.0,354386.0,326126.0,348630.0
3,By family arrangement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Individuals (People),213073,204855,215995,212218,205834,199159,203127,209148.0,205616.0,198008.0,193144.0,194340.0,199531.0,199478.0,194749.0,204774.0
5,People in families with children,178328,181506,187313,191325,186482,190996,191571,191903.0,185824.0,175563.0,167723.0,164023.0,156891.0,154908.0,131377.0,143733.0
6,Unsheltered (People),255857,253423,226919,233534,231472,231398,195666,175399.0,173268.0,176357.0,190129.0,194467.0,211293.0,226080.0,NaN,233832.0
7,By family arrangement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Individuals (People),199627,199670,176136,182922,181779,182997,165047,151041.0,152806.0,157204.0,173441.0,178077.0,196514.0,209413.0,NaN,216146.0
9,People in families with children,56230,53753,50783,50612,49693,48401,30619,24358.0,20462.0,19153.0,16688.0,16390.0,14779.0,16667.0,NaN,17337.0

In [ ]:
# print dataframe info
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3190 entries, 0 to 3189
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS code                                  3145 non-null   float64
 1   State                                      3190 non-null   object
 2   County Name                                3190 non-null   object
 3   Total: Disability Compensation Recipients  3146 non-null   float64
 4   SCD rating: 0% to 20%                      3034 non-null   float64
 5   SCD rating: 30% to 40%                     2869 non-null   float64
 6   SCD rating: 50% to 60%                     2841 non-null   float64
 7   SCD rating: 70% to 90%                     2979 non-null   float64
 8   SCD rating: 100%                           2854 non-null   float64
 9   Age: 17-44                                 2913 non-null   float64
 10  Age: 45-64                                 2916 non-null   float64
 11  Age: 65 or older                           3114 non-null   float64
 12  Male                                       2534 non-null   float64
 13  Female                                     2534 non-null   float64
dtypes: float64(12), object(2)
memory usage: 349.0+ KB

In [ ]:
homeless.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Years   83 non-null     object
 1   2007    60 non-null     object
 2   2008    60 non-null     object
 3   2009    59 non-null     object
 4   2010    60 non-null     object
 5   2011    59 non-null     object
 6   2012    60 non-null     object
 7   2013    60 non-null     object
 8   2014    58 non-null     float64
 9   2015    72 non-null     float64
 10  2016    72 non-null     float64
 11  2017    73 non-null     float64
 12  2018    73 non-null     float64
 13  2019    73 non-null     float64
 14  2020    73 non-null     float64
 15  2021    70 non-null     float64
 16  2022    73 non-null     float64
dtypes: float64(9), object(8)
memory usage: 11.4+ KB

In [ ]:
#drop columns not used for VA claims dataframe
state_claims = claims.drop(['FIPS code','County Name','Male', 'Female'], axis=1)
state_claims.head(10)

,State,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older
0,Alabama,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2000.0,435.0,270.0,278.0,623.0,394.0,466.0,957.0,576.0
2,Alabama,5073.0,1524.0,774.0,772.0,1199.0,804.0,936.0,1553.0,2584.0
3,Alabama,605.0,111.0,75.0,110.0,186.0,123.0,97.0,242.0,266.0
4,Alabama,278.0,61.0,47.0,38.0,81.0,51.0,56.0,95.0,127.0
5,Alabama,771.0,201.0,122.0,119.0,205.0,124.0,159.0,217.0,395.0
6,Alabama,152.0,30.0,13.0,24.0,42.0,43.0,22.0,67.0,63.0
7,Alabama,414.0,84.0,51.0,62.0,125.0,92.0,82.0,168.0,164.0
8,Alabama,3228.0,794.0,516.0,476.0,852.0,590.0,540.0,1177.0,1511.0
9,Alabama,663.0,122.0,80.0,103.0,205.0,153.0,127.0,201.0,335.0

In [ ]:
#combine values for state rows in the VA claim dataframe
state2_claims = state_claims.groupby(['State']).sum()
state3_claims = state2_claims.reset_index()
state3_claims.head(10)

,State,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older
0,Alabama,107159.0,24727.0,15560.0,15863.0,29977.0,21022.0,23326.0,41579.0,42241.0
1,Alaska,23060.0,5325.0,3596.0,3759.0,6737.0,3378.0,7492.0,9287.0,6024.0
2,Arizona,127121.0,35164.0,20079.0,18873.0,33300.0,19666.0,34848.0,38098.0,54163.0
3,Arkansas,52596.0,11525.0,7596.0,7897.0,15700.0,9811.0,12364.0,17961.0,22270.0
4,California,457192.0,120579.0,64104.0,63010.0,127852.0,81603.0,146437.0,137139.0,173545.0
5,Colorado,112758.0,28768.0,18127.0,17490.0,30523.0,17576.0,37673.0,36843.0,38078.0
6,Connecticut,33913.0,10630.0,5275.0,4816.0,8226.0,4954.0,9025.0,9887.0,14989.0
7,Delaware,14999.0,3879.0,2344.0,2205.0,4071.0,2500.0,3255.0,5447.0,6297.0
8,District of Columbia,7677.0,1870.0,1196.0,1188.0,2085.0,1338.0,2245.0,2810.0,2622.0
9,Florida,393755.0,108440.0,61371.0,57239.0,104665.0,62040.0,90971.0,137181.0,165599.0

In [ ]:
###print what states are list
print('State')

State

In [ ]:
#print updated claim dataframe info
state2_claims.info ()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, Alabama to Wyoming
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total: Disability Compensation Recipients  54 non-null     float64
 1   SCD rating: 0% to 20%                      54 non-null     float64
 2   SCD rating: 30% to 40%                     54 non-null     float64
 3   SCD rating: 50% to 60%                     54 non-null     float64
 4   SCD rating: 70% to 90%                     54 non-null     float64
 5   SCD rating: 100%                           54 non-null     float64
 6   Age: 17-44                                 54 non-null     float64
 7   Age: 45-64                                 54 non-null     float64
 8   Age: 65 or older                           54 non-null     float64
dtypes: float64(9)
memory usage: 4.2+ KB

In [ ]:
#drop columns not used for homeless dataframe
state_homeless= homeless.loc[:, ['Years', '2020']]
state_homeless.head(10)

                                              Years      2020
0                      Homeless population (People)  580466.0
1                               By living situation       NaN
2                                Sheltered (People)  354386.0
3                             By family arrangement       NaN
4                             Individuals  (People)  199478.0
5                  People in families with children  154908.0
6                              Unsheltered (People)  226080.0
7                             By family arrangement       NaN
8                             Individuals  (People)  209413.0
9                  People in families with children   16667.0

In [ ]:
#delete unused rows before the states are listed and re-indexin the homeless dataframe
state2_homeless = state_homeless.drop(state_homeless.index[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,81,82,83,84]], axis = 0)
state3_homeless = state2_homeless.reset_index()
print(state3_homeless)

    index                                  Years      2020
0       0           Homeless population (People)  580466.0
1      31                        Alaska (People)    1949.0
2      32                       Arizona (People)   10979.0
3      33                      Arkansas (People)    2366.0
4      34                    California (People)  161548.0
5      35                      Colorado (People)    9846.0
6      36                   Connecticut (People)    2905.0
7      37                      Delaware (People)    1165.0
8      38          District of Columbia (People)    6380.0
9      39                       Florida (People)   27487.0
10     40                       Georgia (People)   10234.0
11     41                        Hawaii (People)    6458.0
12     42                         Idaho (People)    2315.0
13     43                      Illinois (People)   10431.0
14     44                       Indiana (People)    5625.0
15     45                          Iowa (People)    2647.0
16     46                        Kansas (People)    2449.0
17     47                      Kentucky (People)    4011.0
18     48                     Louisiana (People)    3173.0
19     49                         Maine (People)    2097.0
20     50                      Maryland (People)    6360.0
21     51                 Massachusetts (People)   17975.0
22     52                      Michigan (People)    8638.0
23     53                     Minnesota (People)    7940.0
24     54                   Mississippi (People)    1107.0
25     55                      Missouri (People)    6527.0
26     56                       Montana (People)    1545.0
27     57                      Nebraska (People)    2404.0
28     58                        Nevada (People)    6900.0
29     59                 New Hampshire (People)    1675.0
30     60                    New Jersey (People)    9662.0
31     61                    New Mexico (People)    3333.0
32     62                      New York (People)   91271.0
33     63                North Carolina (People)    9280.0
34     64                  North Dakota (People)     541.0
35     65                          Ohio (People)   10655.0
36     66                      Oklahoma (People)    3932.0
37     67                        Oregon (People)   14655.0
38     68                  Pennsylvania (People)   13375.0
39     69                  Rhode Island (People)    1104.0
40     70                South Carolina (People)    4287.0
41     71                  South Dakota (People)    1058.0
42     72                     Tennessee (People)    7256.0
43     73                         Texas (People)   27229.0
44     74                          Utah (People)    3131.0
45     75                       Vermont (People)    1110.0
46     76                      Virginia (People)    5957.0
47     77                    Washington (People)   22923.0
48     78                 West Virginia (People)    1341.0
49     79                     Wisconsin (People)    4515.0
50     80                       Wyoming (People)     612.0

In [ ]:
#print updated claim dataframe info
state2_homeless.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 31 to 84
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Years   52 non-null     object
 1   2020    50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 996.0+ bytes

In [ ]:
#delete row in the VA claim dataframe for area not in the homelessness dataframe (Alabama, Other Foriegn Countries, Puerto Rico, US Territories)
state4_claims = state3_claims.drop(state3_claims.index[[0,38,40,46]], axis = 0)
state4_claims.head(10)

,State,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older
1,Alaska,23060.0,5325.0,3596.0,3759.0,6737.0,3378.0,7492.0,9287.0,6024.0
2,Arizona,127121.0,35164.0,20079.0,18873.0,33300.0,19666.0,34848.0,38098.0,54163.0
3,Arkansas,52596.0,11525.0,7596.0,7897.0,15700.0,9811.0,12364.0,17961.0,22270.0
4,California,457192.0,120579.0,64104.0,63010.0,127852.0,81603.0,146437.0,137139.0,173545.0
5,Colorado,112758.0,28768.0,18127.0,17490.0,30523.0,17576.0,37673.0,36843.0,38078.0
6,Connecticut,33913.0,10630.0,5275.0,4816.0,8226.0,4954.0,9025.0,9887.0,14989.0
7,Delaware,14999.0,3879.0,2344.0,2205.0,4071.0,2500.0,3255.0,5447.0,6297.0
8,District of Columbia,7677.0,1870.0,1196.0,1188.0,2085.0,1338.0,2245.0,2810.0,2622.0
9,Florida,393755.0,108440.0,61371.0,57239.0,104665.0,62040.0,90971.0,137181.0,165599.0
10,Georgia,214398.0,47843.0,29777.0,30573.0,63429.0,42612.0,59125.0,84094.0,71038.0

In [ ]:
#merge the VA claims and homeless;  dataframe
street_soldier = pd.concat([state4_claims, state3_homeless], axis=1, join="outer")
#Street_soldier = pd.merge(state3_claims, state3_homeless, suffixes=['_l', '_r'], left_index=True, right_index=True)
street_soldier.head(5)

,State,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older,index,Years,2020
1,Alaska,23060.0,5325.0,3596.0,3759.0,6737.0,3378.0,7492.0,9287.0,6024.0,31.0,Alaska (People),1949.0
2,Arizona,127121.0,35164.0,20079.0,18873.0,33300.0,19666.0,34848.0,38098.0,54163.0,32.0,Arizona (People),10979.0
3,Arkansas,52596.0,11525.0,7596.0,7897.0,15700.0,9811.0,12364.0,17961.0,22270.0,33.0,Arkansas (People),2366.0
4,California,457192.0,120579.0,64104.0,63010.0,127852.0,81603.0,146437.0,137139.0,173545.0,34.0,California (People),161548.0
5,Colorado,112758.0,28768.0,18127.0,17490.0,30523.0,17576.0,37673.0,36843.0,38078.0,35.0,Colorado (People),9846.0

#Visualizations